/*textWhiteBgBlack*/
.all_in_one_bannerRotator_textWhiteBgBlack_small {
	font-family: Arial;
	font-size:15px;
	line-height:12px;
	font-weight:bold;
	color:#FFF;
	background:#000;
	padding:5px 6px;
	margin:0;
}
.all_in_one_bannerRotator_textWhiteBgBlack_small a {
	color:#FFF;
	text-decoration:underline;
}
.all_in_one_bannerRotator_textWhiteBgBlack_small a:hover {
	color:#F00;
	text-decoration:underline;
}

.all_in_one_bannerRotator_textWhiteBgBlack_small2 {
	font-family: Arial;
	font-size:18px;
	line-height:18px;
	font-weight:bold;
	color:#FFF;
	background:#000;
	padding:5px 6px;
	margin:0;
}
.all_in_one_bannerRotator_textWhiteBgBlack_small2 a {
	color:#FFF;
	text-decoration:underline;
}
.all_in_one_bannerRotator_textWhiteBgBlack_small2 a:hover {
	color:#F00;
	text-decoration:underline;
}




.all_in_one_bannerRotator_textWhiteBgBlack_small3 {
	font-family: Arial;
	font-size:28px;
	line-height:28px;
	font-weight:bold;
	color:#FFF;
	background:#000;
	padding:5px 6px;
	margin:0;
}
.all_in_one_bannerRotator_textWhiteBgBlack_small3 a {
	color:#FFF;
	text-decoration:underline;
}
.all_in_one_bannerRotator_textWhiteBgBlack_small3 a:hover {
	color:#F00;
	text-decoration:underline;
}



.all_in_one_bannerRotator_textWhiteBgBlack_medium {
	font-family: Arial;
	font-size:23px;
	line-height:22px;
	font-weight:bold;
	color:#FFF;
	background:#000;
	padding:6px 7px;
	margin:0;
}
.all_in_one_bannerRotator_textWhiteBgBlack_medium a {
	color:#FFF;
	text-decoration:underline;
}
.all_in_one_bannerRotator_textWhiteBgBlack_medium a:hover {
	color:#F00;
	text-decoration:underline;
}



.all_in_one_bannerRotator_textWhiteBgBlack_medium2 {
	font-family: Arial;
	font-size:33px;
	line-height:32px;
	font-weight:bold;
	color:#FFF;
	background:#000;
	padding:6px 7px;
	margin:0;
}
.all_in_one_bannerRotator_textWhiteBgBlack_medium2 a {
	color:#FFF;
	text-decoration:underline;
}
.all_in_one_bannerRotator_textWhiteBgBlack_medium2 a:hover {
	color:#F00;
	text-decoration:underline;
}




.all_in_one_bannerRotator_textWhiteBgBlack_large {
	font-family: Arial;
	font-size:36px;
	line-height:36px;
	font-weight:normal;
	color:#FFF;
	background:#000;
	padding:7px 10px;
	margin:0;
}
.all_in_one_bannerRotator_textWhiteBgBlack_large a {
	color:#FFF;
	text-decoration:underline;
}
.all_in_one_bannerRotator_textWhiteBgBlack_large a:hover {
	color:#F00;
	text-decoration:underline;
}




/*textWhiteBgPurple*/
.all_in_one_bannerRotator_textWhiteBgPurple_small {
	font-family: Arial;
	font-size:12px;
	line-height:12px;
	font-weight:bold;
	color:#FFF;
	background:#a92c74;
	padding:5px 6px;
	margin:0;
}
.all_in_one_bannerRotator_textWhiteBgPurple_small a {
	color:#FFF;
	text-decoration:underline;
}
.all_in_one_bannerRotator_textWhiteBgPurple_small a:hover {
	color:#F00;
	text-decoration:underline;
}

.all_in_one_bannerRotator_textWhiteBgPurple_small2 {
	font-family: Arial;
	font-size:18px;
	line-height:18px;
	font-weight:bold;
	color:#FFF;
	background:#a92c74;
	padding:5px 6px;
	margin:0;
}
.all_in_one_bannerRotator_textWhiteBgPurple_small2 a {
	color:#FFF;
	text-decoration:underline;
}
.all_in_one_bannerRotator_textWhiteBgPurple_small2 a:hover {
	color:#F00;
	text-decoration:underline;
}


.all_in_one_bannerRotator_textWhiteBgPurple_medium {
	font-family: Arial;
	font-size:23px;
	line-height:22px;
	font-weight:bold;
	color:#FFF;
	background:#a92c74;
	padding:6px 7px;
	margin:0;
}
.all_in_one_bannerRotator_textWhiteBgPurple_medium a {
	color:#FFF;
	text-decoration:underline;
}
.all_in_one_bannerRotator_textWhiteBgPurple_medium a:hover {
	color:#F00;
	text-decoration:underline;
}

.all_in_one_bannerRotator_textWhiteBgPurple_large {
	font-family: Arial;
	font-size:36px;
	line-height:36px;
	font-weight:bold;
	color:#FFF;
	background:#a92c74;
	padding:7px 10px;
	margin:0;
}
.all_in_one_bannerRotator_textWhiteBgPurple_large a {
	color:#FFF;
	text-decoration:none;
}
.all_in_one_bannerRotator_textWhiteBgPurple_large a:hover {
	color:#ffc591;
	text-decoration:none;
}



.all_in_one_bannerRotator_textWhiteBgPurple_large2 {
	font-family: Arial;
	font-size:46px;
	line-height:46px;
	font-weight:bold;
	color:#FFF;
	background:#a92c74;
	padding:7px 10px;
	margin:0;
}
.all_in_one_bannerRotator_textWhiteBgPurple_large2 a {
	color:#FFF;
	text-decoration:none;
}
.all_in_one_bannerRotator_textWhiteBgPurple_large2 a:hover {
	color:#ffc591;
	text-decoration:none;
}

/*textWhiteBgRed*/
.all_in_one_bannerRotator_textWhiteBgRed_small {
	font-family: Arial;
	font-size:15px;
	line-height:12px;
	font-weight:bold;
	color:#FFF;
	background:#a32a19;
	padding:5px 6px;
	margin:0;
}
.all_in_one_bannerRotator_textWhiteBgRed_small a {
	color:#FFF;
	text-decoration:none;
}
.all_in_one_bannerRotator_textWhiteBgRed_small a:hover {
	color:#F00;
	text-decoration:none;

}

.all_in_one_bannerRotator_textWhiteBgRed_small2 {
	font-family: Arial;
	font-size:18px;
	line-height:18px;
	font-weight:bold;
	color:#FFF;
	background:#a32a19;
	padding:5px 6px;
	margin:0;
}
.all_in_one_bannerRotator_textWhiteBgRed_small2 a {
	color:#FFF;
	text-decoration:underline;
}
.all_in_one_bannerRotator_textWhiteBgRed_small2 a:hover {
	color:#F00;
	text-decoration:underline;
}



.all_in_one_bannerRotator_textWhiteBgRed_small3 {
	font-family: Arial;
	font-size:28px;
	line-height:28px;
	font-weight:bold;
	color:#FFF;
	background:#d30037;
	padding:5px 6px;
	margin:0;
}
.all_in_one_bannerRotator_textWhiteBgRed_small3 a {
	color:#FFFFFF;
	text-decoration:none;
}
.all_in_one_bannerRotator_textWhiteBgRed_small3 a:hover {
	color:#FFFFFF;
	text-decoration:underline;
}


.all_in_one_bannerRotator_textWhiteBgRed_medium {
	font-family: Arial;
	font-size:23px;
	line-height:22px;
	font-weight:bold;
	color:#FFF;
	background-color:#a32a19;
	padding:6px 7px;
	margin:0;
}
.all_in_one_bannerRotator_textWhiteBgRed_medium a {
	color:#FFF;
	text-decoration:none;

}
.all_in_one_bannerRotator_textWhiteBgRed_medium a:hover {
	color:#cccccc;
	text-decoration:none;
}



.all_in_one_bannerRotator_textWhiteBgRed_medium2 {
	font-family: Arial;
	font-size:33px;
	line-height:33px;
	font-weight:bold;
	color:#FFF;
	background-color:#a32a19;
	padding:6px 7px;
	margin:0;
}
.all_in_one_bannerRotator_textWhiteBgRed_medium2 a {
	color:#FFF;
	text-decoration:none;

}
.all_in_one_bannerRotator_textWhiteBgRed_medium2 a:hover {
	color:#cccccc;
	text-decoration:none;

}



.all_in_one_bannerRotator_textWhiteBgRed_large {
	font-family: Arial;
	font-size:36px;
	line-height:36px;
	font-weight:normal;
	color:#FFF;
	background:#a32a19;
	padding:7px 10px;
	margin:0;
}
.all_in_one_bannerRotator_textWhiteBgRed_large a {
	color:#FFF;
	text-decoration:underline;
}
.all_in_one_bannerRotator_textWhiteBgRed_large a:hover {
	color:#F00;
	text-decoration:underline;
}






/*textWhiteBgMauve*/
.all_in_one_bannerRotator_textWhiteBgMauve_small {
	font-family: Arial;
	font-size:12px;
	line-height:15px;
	font-weight:bold;
	color:#FFF;
	background:#512d5d;
	padding:5px 6px;
	margin:0;
}
.all_in_one_bannerRotator_textWhiteBgMauve_small a {
	color:#FFF;
	text-decoration:underline;
}
.all_in_one_bannerRotator_textWhiteBgMauve_small a:hover {
	color:#F00;
	text-decoration:underline;
}

.all_in_one_bannerRotator_textWhiteBgMauve_small2 {
	font-family: Arial;
	font-size:18px;
	line-height:18px;
	font-weight:bold;
	color:#FFF;
	background:#512d5d;
	padding:5px 6px;
	margin:0;
}
.all_in_one_bannerRotator_textWhiteBgMauve_small2 a {
	color:#FFF;
	text-decoration:underline;
}
.all_in_one_bannerRotator_textWhiteBgMauve_small2 a:hover {
	color:#F00;
	text-decoration:underline;
}


.all_in_one_bannerRotator_textWhiteBgMauve_medium {
	font-family: Arial;
	font-size:23px;
	line-height:22px;
	font-weight:bold;
	color:#FFF;
	background:#512d5d;
	padding:6px 7px;
	margin:0;
}
.all_in_one_bannerRotator_textWhiteBgMauve_medium a {
	color:#FFF;
	text-decoration:underline;
}
.all_in_one_bannerRotator_textWhiteBgMauve_medium a:hover {
	color:#F00;
	text-decoration:underline;
}



.all_in_one_bannerRotator_textWhiteBgMauve_medium2 {
	font-family: Arial;
	font-size:33px;
	line-height:33px;
	font-weight:bold;
	color:#FFF;
	background:#512d5d;
	padding:6px 7px;
	margin:0;
}
.all_in_one_bannerRotator_textWhiteBgMauve_medium2 a {
	color:#FFF;
	text-decoration:underline;
}
.all_in_one_bannerRotator_textWhiteBgMauve_medium2 a:hover {
	color:#F00;
	text-decoration:underline;
}


.all_in_one_bannerRotator_textWhiteBgMauve_large {
	font-family: Arial;
	font-size:36px;
	line-height:36px;
	font-weight:bold;
	color:#FFF;
	background:#512d5d;
	padding:7px 10px;
	margin:0;
}
.all_in_one_bannerRotator_textWhiteBgMauve_large a {
	color:#FFF;
	text-decoration:underline;
}
.all_in_one_bannerRotator_textWhiteBgMauve_large a:hover {
	color:#F00;
	text-decoration:underline;
}


/*textBlackBgWhite*/
.all_in_one_bannerRotator_textBlackBgWhite_small {
	font-family: Arial;
	font-size:15px;
	line-height:12px;
	font-weight:bold;
	color:#000;
	background:#FFF;
	padding:5px 6px;
	margin:0;
}
.all_in_one_bannerRotator_textBlackBgWhite_small a {
	color:#000;
	text-decoration:underline;
}
.all_in_one_bannerRotator_textBlackBgWhite_small a:hover {
	color:#F00;
	text-decoration:underline;
}


.all_in_one_bannerRotator_textBlackBgWhite_medium {
	font-family: Arial;
	font-size:20px;
	line-height:22px;
	font-weight:normal;
	color:#000;
	background:#FFF;
	padding:6px 7px;
	margin:0;
}
.all_in_one_bannerRotator_textBlackBgWhite_medium a {
	color:#000000;
	text-decoration:none;
}
.all_in_one_bannerRotator_textBlackBgWhite_medium a:hover {
	color:#F00;
	text-decoration:none;
}


.all_in_one_bannerRotator_textBlackBgWhite_medium2 {
	font-family: Arial;
	font-size:28px;
	line-height:30px;
	font-weight:normal;
	color:#000;
	background:#FFF;
	padding:6px 7px;
	margin:0;
}
.all_in_one_bannerRotator_textBlackBgWhite_medium2 a {
	color:#000000;
	text-decoration:none;
}
.all_in_one_bannerRotator_textBlackBgWhite_medium2 a:hover {
	color:#F00;
	text-decoration:none;
}



.all_in_one_bannerRotator_textBlackBgWhite_large {
	font-family: Arial;
	font-size:36px;
	line-height:36px;
	font-weight:normal;
	color:#000;
	background:#FFF;
	padding:7px 10px;
	margin:0;
}
.all_in_one_bannerRotator_textBlackBgWhite_large a {
	color:#000;
	text-decoration:underline;
}
.all_in_one_bannerRotator_textBlackBgWhite_large a:hover {
	color:#F00;
	text-decoration:underline;
}
/*textRedBgWhite*/
.all_in_one_bannerRotator_textRedBgWhite_small {
	font-family: Arial;
	font-size:15px;
	line-height:12px;
	font-weight:bold;
	color:#F00;
	background:#FFF;
	padding:5px 6px;
	margin:0;
}
.all_in_one_bannerRotator_textRedBgWhite_small a {
	color:#F00;
	text-decoration:underline;
}
.all_in_one_bannerRotator_textRedBgWhite_small a:hover {
	color:#000;
	text-decoration:underline;
}
.all_in_one_bannerRotator_textRedBgWhite_medium {
	font-family: Arial;
	font-size:22px;
	line-height:22px;
	font-weight:normal;
	color:#F00;
	background:#FFF;
	padding:6px 7px;
	margin:0;
}
.all_in_one_bannerRotator_textRedBgWhite_medium a {
	color:#F00;
	text-decoration:underline;
}
.all_in_one_bannerRotator_textRedBgWhite_medium a:hover {
	color:#000;
	text-decoration:underline;
}
.all_in_one_bannerRotator_textRedBgWhite_large {
	font-family: Arial;
	font-size:36px;
	line-height:36px;
	font-weight:normal;
	color:#F00;
	background:#FFF;
	padding:7px 10px;
	margin:0;
}
.all_in_one_bannerRotator_textRedBgWhite_large a {
	color:#F00;
	text-decoration:underline;
}
.all_in_one_bannerRotator_textRedBgWhite_large a:hover {
	color:#000;
	text-decoration:underline;
}
/*textBlueBgWhite*/
.all_in_one_bannerRotator_textBlueBgWhite_small {
	font-family: Arial;
	font-size:15px;
	line-height:12px;
	font-weight:bold;
	color:#00F;
	background:#FFF;
	padding:5px 6px;
	margin:0;
}
.all_in_one_bannerRotator_textBlueBgWhite_small a {
	color:#00F;
	text-decoration:underline;
}
.all_in_one_bannerRotator_textBlueBgWhite_small a:hover {
	color:#F00;
	text-decoration:underline;
}
.all_in_one_bannerRotator_textBlueBgWhite_medium {
	font-family: Arial;
	font-size:22px;
	line-height:22px;
	font-weight:normal;
	color:#00F;
	background:#FFF;
	padding:6px 7px;
	margin:0;
}
.all_in_one_bannerRotator_textBlueBgWhite_medium a {
	color:#00F;
	text-decoration:underline;
}

.all_in_one_bannerRotator_textBlueBgWhite_medium a:hover {
	color:#F00;
	text-decoration:underline;
}

.all_in_one_bannerRotator_textBlueBgWhite_large {
	font-family: Arial;
	font-size:36px;
	line-height:36px;
	font-weight:normal;
	color:#00F;
	background:#FFF;
	padding:7px 10px;
	margin:0;
}
.all_in_one_bannerRotator_textBlueBgWhite_large a {
	color:#00F;
	text-decoration:underline;
}
.all_in_one_bannerRotator_textBlueBgWhite_large a:hover {
	color:#F00;
	text-decoration:underline;
}
/*textWhiteBgTransparent*/
.all_in_one_bannerRotator_textWhiteBgTransparent_small {
	font-family: Arial;
	font-size:19px;
	line-height:21px;
	font-weight:bold;
	color:#FFF;
text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
	background:none;
	padding:0;
	margin:0;
}
.all_in_one_bannerRotator_textWhiteBgTransparent_small a {
	color:#FFF;
	text-decoration:underline;
}
.all_in_one_bannerRotator_textWhiteBgTransparent_small a:hover {
	color:#F00;
	text-decoration:underline;
}



.all_in_one_bannerRotator_textWhiteBgTransparent_small1 {
	font-family: Arial;
	font-size:14px;
	line-height:21px;
	font-weight:bold;
	color:#FFF;
text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
	background:none;
	padding:0;
	margin:0;
}
.all_in_one_bannerRotator_textWhiteBgTransparent_small1 a {
	color:#FFF;
	text-decoration:underline;
}
.all_in_one_bannerRotator_textWhiteBgTransparent_small1 a:hover {
	color:#F00;
	text-decoration:underline;
}



.all_in_one_bannerRotator_textWhiteBgTransparent_small2 {
	font-family: Arial;
	font-size:26px;
	line-height:31px;
	font-weight:bold;
	color:#FFF;
text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
	background:none;
	padding:0;
	margin:0;
}
.all_in_one_bannerRotator_textWhiteBgTransparent_small2 a {
	color:#FFF;
	text-decoration:underline;
}
.all_in_one_bannerRotator_textWhiteBgTransparent_small2 a:hover {
	color:#F00;
	text-decoration:underline;
}


.all_in_one_bannerRotator_textWhiteBgTransparent_medium {
	font-family: Arial;
	font-size:32px;
	line-height:32px;
	font-weight:bold;
	color:#FFF;
	background:none;
	padding:0;
	margin:0;
}
.all_in_one_bannerRotator_textWhiteBgTransparent_medium a {
	color:#FFF;
	text-decoration:underline;
}
.all_in_one_bannerRotator_textWhiteBgTransparent_medium a:hover {
	color:#F00;
	text-decoration:underline;
}


.all_in_one_bannerRotator_textWhiteBgTransparent_medium2 {
	font-family: Arial;
	font-size:42px;
	line-height:42px;
	font-weight:bold;
	color:#FFF;
	background:none;
	padding:0;
	margin:0;
}
.all_in_one_bannerRotator_textWhiteBgTransparent_medium2 a {
	color:#FFF;
	text-decoration:underline;
}
.all_in_one_bannerRotator_textWhiteBgTransparent_medium2 a:hover {
	color:#F00;
	text-decoration:underline;
}



.all_in_one_bannerRotator_textWhiteBgTransparent_large {
	font-family: Arial;
	font-size:45px;
	line-height:45px;
	font-weight:bold;
	color:#FFF;
text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
	background:none;
	padding:0;
	margin:0;
}
.all_in_one_bannerRotator_textWhiteBgTransparent_large a {
	color:#FFF;
	text-decoration:underline;
}
.all_in_one_bannerRotator_textWhiteBgTransparent_large a:hover {
	color:#F00;
	text-decoration:underline;
}



.all_in_one_bannerRotator_textWhiteBgTransparent_large2 {
	font-family: Arial;
	font-size:67px;
	line-height:67px;
	font-weight:bold;
	color:#FFF;
	background:none;
	padding:0;
	margin:0;
}
.all_in_one_bannerRotator_textWhiteBgTransparent_large2 a {
	color:#FFF;
	text-decoration:underline;
}
.all_in_one_bannerRotator_textWhiteBgTransparent_large2 a:hover {
	color:#F00;
	text-decoration:underline;
}




/*textBlackBgTransparent*/
.all_in_one_bannerRotator_textBlackBgTransparent_small {
	font-family: Arial;
	font-size:18px;
	line-height:18px;
	font-weight:bold;
	color:#000;
	background:none;
	padding:0;
	margin:0;
}
.all_in_one_bannerRotator_textBlackBgTransparent_small a {
	color:#F00;
	text-decoration:none;
}
.all_in_one_bannerRotator_textBlackBgTransparent_small a:hover {
	color:#FFF;
	text-decoration:none;
}



.all_in_one_bannerRotator_textBlackBgTransparent_small2 {
	font-family: Arial;
	font-size:24px;
	line-height:24px;
	font-weight:bold;
	color:#000;
	background:none;
	padding:0;
	margin:0;
}
.all_in_one_bannerRotator_textBlackBgTransparent_small2 a {
	color:#F00;
	text-decoration:none;
}
.all_in_one_bannerRotator_textBlackBgTransparent_small2 a:hover {
	color:#FFF;
	text-decoration:none;
}




.all_in_one_bannerRotator_textBlackBgTransparent_medium {
	font-family: Arial;
	font-size:24px;
	line-height:24px;
	font-weight:bold;
	color:#000;
	background:none;
	padding:0;
	margin:0;
}
.all_in_one_bannerRotator_textBlackBgTransparent_medium a {
	color:#000;
	text-decoration:underline;
}
.all_in_one_bannerRotator_textBlackBgTransparent_medium a:hover {
	color:#F00;
	text-decoration:underline;
}



.all_in_one_bannerRotator_textBlackBgTransparent_medium2 {
	font-family: Arial;
	font-size:32px;
	line-height:32px;
	font-weight:bold;
	color:#000;
	background:none;
	padding:0;
	margin:0;
}
.all_in_one_bannerRotator_textBlackBgTransparent_medium2 a {
	color:#FF0000;
	text-decoration:none;
}
.all_in_one_bannerRotator_textBlackBgTransparent_medium2 a:hover {
	color:#FF0000;
	text-decoration:underline;
}


.all_in_one_bannerRotator_textBlackBgTransparent_large {
	font-family: Arial;
	font-size:45px;
	line-height:45px;
	font-weight:bold;
	color:#000;
	background:none;
	padding:0;
	margin:0;
}
.all_in_one_bannerRotator_textBlackBgTransparent_large a {
	color:#000;
	text-decoration:underline;
}
.all_in_one_bannerRotator_textBlackBgTransparent_large a:hover {
	color:#F00;
	text-decoration:underline;
}




.all_in_one_bannerRotator_textBlackBgTransparent_large2 {
	font-family: Arial;
	font-size:58px;
	line-height:58px;
	font-weight:bold;
	color:#000;
	background:none;
	padding:0;
	margin:0;
}
.all_in_one_bannerRotator_textBlackBgTransparent_large2 a {
	color:#000;
	text-decoration:underline;
}
.all_in_one_bannerRotator_textBlackBgTransparent_large2 a:hover {
	color:#F00;
	text-decoration:underline;
}




/*textRedBgTransparent*/
.all_in_one_bannerRotator_textRedBgTransparent_small {
	font-family: Arial;
	font-size:15px;
	line-height:12px;
	font-weight:bold;
	color:#F00;
	background:none;
	padding:0;
	margin:0;
}
.all_in_one_bannerRotator_textRedBgTransparent_small a {
	color:#F00;
	text-decoration:underline;
}
.all_in_one_bannerRotator_textRedBgTransparent_small a:hover {
	color:#000;
	text-decoration:underline;
}
.all_in_one_bannerRotator_textRedBgTransparent_medium {
	font-family: Arial;
	font-size:22px;
	line-height:22px;
	font-weight:bold;
	color:#F00;
	background:none;
	padding:0;
	margin:0;
}
.all_in_one_bannerRotator_textRedBgTransparent_medium a {
	color:#F00;
	text-decoration:underline;
}
.all_in_one_bannerRotator_textRedBgTransparent_medium a:hover {
	color:#000;
	text-decoration:underline;
}
.all_in_one_bannerRotator_textRedBgTransparent_large {
	font-family: Arial;
	font-size:36px;
	line-height:36px;
	font-weight:bold;
	color:#F00;
	background:none;
	padding:0;
	margin:0;
}
.all_in_one_bannerRotator_textRedBgTransparent_large a {
	color:#F00;
	text-decoration:underline;
}
.all_in_one_bannerRotator_textRedBgTransparent_large a:hover {
	color:#000;
	text-decoration:underline;
}
/*textBlueBgTransparent*/
.all_in_one_bannerRotator_textBlueBgTransparent_small {
	font-family: Arial;
	font-size:15px;
	line-height:12px;
	font-weight:bold;
	color:#00F;
	background:none;
	padding:0;
	margin:0;
}
.all_in_one_bannerRotator_textBlueBgTransparent_small a {
	color:#00F;
	text-decoration:underline;
}
.all_in_one_bannerRotator_textBlueBgTransparent_small a:hover {
	color:#F00;
	text-decoration:underline;
}
.all_in_one_bannerRotator_textBlueBgTransparent_medium {
	font-family: Arial;
	font-size:22px;
	line-height:22px;
	font-weight:normal;
	color:#00F;
	background:none;
	padding:0;
	margin:0;
}
.all_in_one_bannerRotator_textBlueBgTransparent_medium a {
	color:#00F;
	text-decoration:underline;
}
.all_in_one_bannerRotator_textBlueBgTransparent_medium a:hover {
	color:#F00;
	text-decoration:underline;
}
.all_in_one_bannerRotator_textBlueBgTransparent_large {
	font-family: Arial;
	font-size:36px;
	line-height:36px;
	font-weight:normal;
	color:#00F;
	background:none;
	padding:0;
	margin:0;
}
.all_in_one_bannerRotator_textBlueBgTransparent_large a {
	color:#00F;
	text-decoration:underline;
}
.all_in_one_bannerRotator_textBlueBgTransparent_large a:hover {
	color:#F00;
	text-decoration:underline;
}


/*textWhiteBgPicture*/
.all_in_one_bannerRotator_textWhiteBgPicture_small {
	font-family: Arial;
	font-size:12px;
	line-height:15px;
	font-weight:bold;
	color:#FFF;
	background-image: url("skins/classic/textBg_transparency.png");
	padding:5px 6px;
	margin:0;
}
.all_in_one_bannerRotator_textWhiteBgPicture_small a {
	color:#FFF;
	text-decoration:underline;
}
.all_in_one_bannerRotator_textWhiteBgPicture_small a:hover {
	color:#F00;
	text-decoration:underline;
}








/*textWhiteBgBlackBox*/
.all_in_one_bannerRotator_textWhiteBgBlackBox_small {
	width:43%;
	font-family: Arial;
	font-size:13px;
	line-height:19px;
	font-weight:bold;
	color:#ffffff;
background:#000000;
	padding:6px 7px;
	margin:0;
}
.all_in_one_bannerRotator_textWhiteBgBlackBox_small a {
	color:#F00;
	text-decoration:underline;
}
.all_in_one_bannerRotator_textWhiteBgBlackBox_small a:hover {
	color:#000;
	text-decoration:underline;
}



.all_in_one_bannerRotator_textWhiteBgBlackBox_small_full {
	width:27%;
	font-family: Arial;
	font-size:16px;
	line-height:22px;
	font-weight:bold;
	color:#ffffff;
background:#000000;
	padding:6px 7px;
	margin:0;
}
.all_in_one_bannerRotator_textWhiteBgBlackBox_small_full a {
	color:#F00;
	text-decoration:underline;
}
.all_in_one_bannerRotator_textWhiteBgBlackBox_small_full a:hover {
	color:#000;
	text-decoration:underline;
}




.all_in_one_bannerRotator_textWhiteBgOrange_small3 {
	font-family: Arial;
	font-size:28px;
	line-height:28px;
	font-weight:bold;
	color:#FFF;
	background:#eb492e;
	padding:5px 6px;
	margin:0;
}
.all_in_one_bannerRotator_textWhiteBgOrange_small3 a {
	color:#FFFFFF;
	text-decoration:none;
}
.all_in_one_bannerRotator_textWhiteBgOrange_small3 a:hover {
	color:#FFFFFF;
	text-decoration:underline;
}
